.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 100vw;
  max-width: var(--max-width);
  background-color: var(--main-charcoal-color);
  color: #fff7eaf0;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: var(--main-purple-color);
}

a:hover {
  text-decoration: underline;
  color: #fff7eaf0;
}

.about-me-description {
  padding-top: 3rem;
  width: 70rem;
  overflow-wrap: normal;
}
