.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: 100%;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: max-content;
  margin-top: 100px;
  padding-bottom: 10vh;
}

.main-content-text {
  text-align: center;
}

.profile-image {
  max-width: 300px;
  width: 30vw;
  min-width: 200px;
  margin-left: 10vw;
  margin-top: 20px;
  /* border-radius: 20px; */
}

.profile-image-container {
  padding: 0 0 30px 30px;
}

.profile-image-container .profile-image {
  display: inline-block;
  box-shadow: -30px 30px 0 rgba(75, 75, 75, 0.4);
}
