header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: blueviolet;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.button-group {
  justify-content: end;
}
