.projects-container {
  text-align: center;
  padding: 100px;
  background-color: var(--main-charcoal-color);
  width: 100vw;
  max-width: var(--max-width);
  color: #fff7eaf0;
}

.projects-cards-container {
  display: flex;
  justify-content: center;
  gap: 10vw;
  margin: 2rem;
}

@media only screen and (max-width: 900px) {
  .projects-cards-container {
    flex-wrap: wrap;
  }
}

.project-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--main-orange-color),
    var(--main-purple-color)
  );
  z-index: 2;
  opacity: 0;
  transition: 0.5s all;
}

.isClicked::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--main-orange-color),
    var(--main-purple-color)
  );
  z-index: -1;
  opacity: 1;
  transition: 0.5s all;
}

.project-card:hover::before {
  opacity: 1;
}

.project-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.project-card .card-content-container {
  position: relative;
  z-index: 3;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.project-card:hover .card-content-container {
  opacity: 1;
  transform: translateY(0px);
}

.isClicked {
  position: relative;
  z-index: 3;
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s all;
}
